@(userForm: Form[UserData])(implicit request: RequestHeader, m: Messages, header: models.Header)
@import b3.vertical.fieldConstructor

@main("User form") {
  <h1>user form</h1>

  @request.flash.get("success").getOrElse("")

  <!--@helper.form(action = routes.UserController.userPost()) {
    @helper.CSRF.formField
    @helper.inputText(userForm("name"))
    @helper.inputText(userForm("age"))
    <input type="submit" value="submit"/>
  }-->


  @b3.form(routes.UserController.userPost()) {
    @helper.CSRF.formField
    @b3.text( userForm("name"), '_label -> "Name", 'placeholder -> "Name" )
    @b3.number( userForm("age"), '_label -> "Age", 'placeholder -> "Age" )
    @b3.submit('class -> "btn btn-default"){ Submit }
  }

}
